@import 'helpers/variables';
@import 'helpers/media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    color: white;
}

html {
    font-size: 20px;
}

body {
    background-color: #252525;
}

.wrap {
    max-width: 1150px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}
