.item-details {
    display: flex;
    padding: 30px;
    border: 1px solid #544646;
    background-color: #353535;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #544646;

    &__box {
        min-width: 300px;
    }

    &__img {
        max-width: 360px;
        max-height: 360px;
        margin-right: 25px;
        border-radius: 10px;
    }

    &__title {
        margin: 0px 5px 15px 5px;
        text-align: center;
        font-size: 1.6rem;
    }

    &__list {
        margin: 0 15px;
        list-style-type: none;
        font-size: 0.9rem;
        line-height: 1.8;
    }

    &__list-item {
        color: #dcdbe4;
        border-bottom: 1px solid #909090;
    }

    &__desc {
        display: inline;
        margin-left: 5px;
        color: #ffffff;
    }
}
